body {
  display: block;
}

#app div canvas {
  border-color: purple;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

#main > div {
  display: flex;
  justify-content: space-between;
}

#main > select {
  margin-bottom: 8px;
}

.canvas-pre {
  display: flex;
  flex-direction: column;
}
